@import 'styles/common';

.tile {
  @extend .spaceBetween;
  width: 100%;
  padding: 1.6rem;
  border-radius: 12px;
  background-color: $white;
  border: 2px solid transparent;
  box-shadow: 0 0 75px $darkGray;

  &:hover {
    border-color: $primaryBlue;
  }

  &.selectable {
    cursor: pointer;
  }
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.checkBox {
  &,
  label {
    @extend .flexCenter;
    pointer-events: none;
  }
}

.icon {
  height: 38px;

  svg {
    filter: drop-shadow(0.5px 0.5px 2px $gray2);
  }
}

.fileName {
  font-size: 1.6rem;
  font-weight: 600;
}

.size {
  font-size: 1.2rem;
  color: $gray3;
}

.btn {
  @extend .clearStdStyles, .flexCenter;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: $veryPaleBlue;
  color: $primaryBlue;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.downloadIndicator {
  @extend .flexCenter;
  background-color: $zusWhitelight;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}

.downloadIcon {
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50% 0;
  animation: fadeIn 1s infinite;
}
