@import 'styles/common';

.dialog {
  width: 468px;
  border-radius: 12px;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.header {
  padding-left: 0;

  h3 {
    width: 100%;
    text-align: center;
  }
}

.purchaseTitle {
  h3 {
    font-weight: 700;
  }
}

.stepIndicator {
  display: flex;

  .step {
    width: 26px;
    height: 6px;
    border-radius: 24px;
    margin: 0px 5px;
  }

  .currentStep {
    @extend .step;
    background: linear-gradient(39.18deg, #03c17d 21.01%, #97e81c 139.72%);
  }

  .pendingStep {
    @extend .step;
    background: $lightGrayishBlue;
    opacity: 0.2;
  }
}

.firstButton {
  margin: 2vh 0;
  // @include media('>=desktop') {
  //   min-width: 165px;
  // }
}

.walletAddressContainer {
  @extend .flexCenter;
  justify-content: flex-start;
  margin: 20px 0;
  padding: 12px;
  width: 100%;
  border: 1px solid $grayishBlue;
  border-radius: 8px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.addressDetailsContainer {
  @extend .flexCenterCol;
  align-items: flex-start;
  width: 100%;
}

.addressLabel {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: $secondaryGray;
}

.myWalletContent {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.78px;
  color: $primaryText;
}

.buttonContainer {
  @extend .flexCenter;
  width: 100%;
  margin: 12px 0;

  button {
    margin-right: 24px;

    &:last-child {
      margin: 0;
    }
  }
}

.inputField {
  width: 100%;
}

.horizontalDivider {
  border: none;
  border-top: 1px solid $semiBlack;
  opacity: 0.1;
  margin-top: 3vh;
}

@media screen and (max-width: 960px) {
  .buttonContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .firstButton {
      width: 100%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .dialog {
    border-radius: 10px;
    width: 350px;
  }
}
